@import "../../styles/variables.scss";

.footer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: $soft-bg;
  span {
    &:first-child {
      text-transform: uppercase;
      font-weight: 700;
    }
    &:last-child {
      font-size: 14px;
    }
  }
}
